<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checkOut</title>
    <link rel="stylesheet" href="/Styles/checkOut.css" />
</head>
<body>
    <div class="cuerpo">
        <div class="cuerpo__izq">
            {{#each pCarrito}}
                <div class="cuerpo__izq__item">
                    <img src="{{imagen}}" alt="" class="cuerpo__izq__item__img" width="15%" height="35%">
                    
                    <div class="cuerpo__izq__item__img__name">
                        <h2>{{Titulo}}</h2>
                        <h6>{{soy}}</h6>
                    </div>

                    <p>color</p>
                    <div data-color="{{color}}" class="color"></div>
                    <p>Talla</p>
                    <div data-talla="{{talla}}" class="talla"></div>
                    <h3 class="precio">${{Precio}}</h3>
                    <div class="cerrar">x</div>
                </div>
            {{/each}}
        </div>
        <div class="cuerpo__der">

        </div>
    </div>

        <div class="final">
            <div class="btnVaciar">VACIAR CARRITO</div>
            <div class="total">total: </div>
        </div>


    <script src="/Scripts/checkOut.js"></script>
</body>
</html>